[submodule "jarvis_contracts"]
	path = jarvis_contracts
	url = https://github.com/JARVIS-assistance/jarvis-contracts.git
[submodule "jarvis_ai_workbench"]
	path = jarvis_ai_workbench
	url = https://github.com/JARVIS-assistance/jarvis-ai-workbench.git
[submodule "jarvis_core"]
	path = jarvis_core
	url = https://github.com/JARVIS-assistance/jarvis-core.git
[submodule "jarvis_controller"]
	path = jarvis_controller
	url = https://github.com/JARVIS-assistance/jarvis_controller
[submodule "jarvis_gateway"]
	path = jarvis_gateway
	url = https://github.com/JARVIS-assistance/jarvis_gateway
